@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transparent-button($font_color) {
  font-size: 16px;
  padding: 5px 10px;
  border: 1px solid $font_color;
  @include element-transition(border-color 300ms ease-in-out, color 300ms ease-in-out);
  @include border-radius(3px);
}

@mixin box-shadow($args...) {
  -webkit-box-shadow: $args;
  -moz-box-shadow: $args;
  box-shadow: $args;
}

@mixin element-transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  transition: $args;
}

@mixin element-rotate($deg) {
  --webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -ms-transform: rotate($deg);
  transform: rotate($deg);
  transform-origin: 50% 55%;
}

@mixin reset-appearance {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}
