@import "_mixins";

$h1_size: 28px;
$main_font_color: #424242;
$body: #fff;
$positive_button_color: #1A9623;
$negative_button_color: #C42927;
$reading_list_button_color: #1796C9;
$modify_button_color: $reading_list_button_color;
$to_read_book_border: #D1D1D1;

* {
  box-sizing: border-box;
}

body {
  color: $main_font_color;
  background-color: $body;
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: $h1_size;
  margin: 10px 0 50px 0;
  text-align: center;
}

input[type="submit"],
input[type="button"] {
  cursor: pointer;
}

span {
  font-weight: bold;
}

.img-container {
  max-width: 180px;
  min-height: 270px;
  @include border-radius(5%);
  float: left;
  margin: 0 15px 0 0;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.active-nav-button {
  color: #fff;
  border-color: #fff;
}

.no-scroll {
  overflow: hidden;
}

/*
====================
New book form styling
====================
*/

#new-form {
  width: 60%;
  margin: 0 auto;
  text-align: center;

  fieldset {
    border: none;
  }

  label {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
  }

  input, textarea, select {
    font-size: 16px;
    padding: 0 0 0 5px;
    margin: 10px 0;
    display: block;
    @include border-radius(4px);
    border: 1px solid $main_font_color;
    outline: none;
    width: 100%;
  }

  input, select {
    height: 32px;
  }

  select {
    background-color: $body;
  }

  textarea {
    padding-top: 5px;
    height: 110px;
    resize: none;
  }

  input:focus,
  textarea:focus,
  select:focus {
    border-color: #525252;
  }

  .new-submit,
  .new-reset {
    width: 20%;
    display: inline-block;
    opacity: .7;
    border: 1px solid $main_font_color;
    @include border-radius(8px);
    @include element-transition(opacity, 300ms, ease-in-out);
    color: $main_font_color;

    &:hover {
      opacity: 1;
    }
  }

  .new-submit, .new-reset {
    background-color: $body;
  }
}

/*
==================
Clearfix
==================
*/

.cf:after {
  display: block;
  clear: both;
  content: "";
}

/*
==================
Book list item styling
==================
*/

main {
  #content {
    margin: 0 40px 40px 100px;
    width: 80%;

    li {
      position: relative;
      margin: 10px;
      padding: 15px 15px 25px 15px;
      cursor: default;
      background-color: $body;
      @include element-transition(border-color 300ms ease-in-out);


      h3, p {
        margin: 0 0 5px 0;
        max-width: 500px;
      }

      h3 {
        margin-top: 10px;
      }

      .description-container {
        margin: 0 0 15px 0;
        line-height: 150%;
        text-align: justify;
        padding: 0 0 0 195px;
      }

      .quote-container {
        display: inline-block;

        .quote-author {
          margin-top: 5px;
          text-align: right;
          font-size: 14px;
          max-width: 100%;
        }
      }

      .quote-actions {
        text-align: right;
      }

      .edit-quote, .delete-quote {
        @include reset-appearance();
        @include element-transition(border-color 300ms ease-in-out);
        padding: 0 5px 3px 5px;
        background-color: $body;
        border: none;
        border-bottom: 1px solid $body;
        font-size: 14px;

        &:hover {
          border-color: $main_font_color;
        }
      }

      .edit-quote {
        color: $modify_button_color;
      }

      .delete-quote {
        color: $negative_button_color;
        margin-left: 10px;
      }
    }
  }

  .italic {
    font-style: italic;
  }

  h3 {
    font-size: 18px;
  }
}

/*
===================
Book actions buttons styling
===================
*/

.actions {

  .edit,
  .delete,
  .details {
    @include reset-appearance();
    @include nav-button($main_font_color);
    outline: none;
    background-color: $body;
    border: 1px solid $main_font_color;
    border-radius: 2px;
    padding: 4px 8px;
    font-size: 14px;
  }

  .edit {
    &:hover {
      color: $modify_button_color;
      border-color: $modify_button_color;
    }
  }

  .delete {
    &:hover {
      color: $negative_button_color;
      border-color: $negative_button_color;
    }
  }

  .details {
    &:hover {
      color: $positive_button_color;
      border-color: $positive_button_color;
    }
  }
}

/*
===================
Default header menu styling
===================
*/

nav {
  margin: 0 auto 50px auto;
  position: relative;
  background-color: #000;
  padding-left: 13%;

  h3 {
    display: inline-block;
  }

  li, a {
    display: inline-block;
    color: #757575;
  }

  li {
    text-align: center;
    width: 100px;
  }

  .nav-button {
    border-bottom: 3px solid #000;
    @include nav-button($main_font_color);

    &:hover {
      color: #fff;
      border-color: #fff;
    }

  }

  a {
    width: 100%;
    padding: 20px 0;
    @extend .nav-button;
  }

  .add-read {
    float: right;
    margin: 0 25px 0 0;
  }

  .new-book-button {
    &:before {
      content: "\002B";
      font-size: 16px;
      padding: 0 5px 0 0;
    }
  }
}

/*
==================
Edit book modal and overlay styling
==================
*/

#edit-modal {
  width: 80%;
  max-width: 800px;
  display: none;
  position: fixed;
  overflow-y: scroll;
  padding: 30px;
  top: 40px;
  right: 0;
  left: 0;
  bottom: 10px;
  background-color: #fff;
  z-index: 2;
  border-radius: 2px;
  @extend #new-form;

  + #overlay {
    display: block;
  }

  input[type="text"],
  input[type="number"] {
    width: 100%;
  }

  h1 {
    margin: 0 0 15px 0;
  }

  .update {
    width: 20%;
    background-color: $body;
    @include nav-button($main_font_color);
  }

  .update:hover {
    color: $positive_button_color;
    border-color: $positive_button_color;
  }
}

#overlay {
  display: none;
  background-color: lightgray;
  position: fixed;
  opacity: .6;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

/*
====================
Book details modal styling
====================
*/

#details {
  display: none;
  position: fixed;
  overflow-y: auto;
  margin: 0 auto;
  max-width: 800px;
  top: 20px;
  right: 0;
  left: 0;
  bottom: 20px;
  padding: 0 20px 35px 0;
  background-color: #fff;
  z-index: 2;

  h1 {
    text-align: center;
  }

  img:not(.close) {
    margin: 0 0 0 30px;
  }

  ul {
    margin: 0 0 0 230px;
    padding: 0 15px;
  }

  li {
    margin: 0 0 10px 0;
  }

  + #overlay {
    display: block;
  }
}

/*
====================
Error message styling
====================
*/

#error-message div {
  border: 2px solid $negative_button_color;
  padding: 5px 0;
  margin: 5px 0;

  p + p {
    margin-top: 5px;
  }
}

/*
====================
Buttons styling
====================
*/

img.close {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

/*
====================
Empty books list stub styling
====================
*/

#empty-stub {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -80px;
  margin-left: -225px;
  width: 500px;
  height: 160px;
  cursor: default;
  text-align: center;

  h2 {
    font-size: 42px;
    opacity: .8;
  }

  p {
    font-size: 34px;
    opacity: .7;
  }

  span {
    color: $negative_button_color;
  }

  a {
    color: $main_font_color;
    display: inline-block;
    font-size: 54px;
    opacity: .5;
    @include element-transition(opacity 300ms ease-in-out);

    &:before {
      content: "\002B";
    }

    &:hover {
      opacity: 1;
    }
  }
}

#read-index {
  margin: 100px 0 0 0;

  li {
    border-top: 1px solid $to_read_book_border;
    border-bottom: 1px solid $to_read_book_border;
    overflow: hidden;
    height: 85px;

    p {
      display: inline-block;
      padding: 0 10px 0 0;
      font-size: 14px;
    }

    img {
      height: 58px;
      width: 38px;
      float: left;
      margin-right: 15px;
    }

    input[type=button] {
      display: none;
      @include reset-appearance();
      background-color: $body;
      font-size: 12px;
      border: none;
      background-color: #F8481A;
      position: absolute;
      height: 100%;
      top: 0;
      right:0;
      padding: 0 10px;
      outline: none;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}

/*
====================
Stats sidebar styling
====================
*/

#sidebar {
  float: left;
  position: absolute;
  top: 62px;
  bottom: 0;
  left: 0;
  background: #000;

  ul {
    margin: 60px 25px 0 15px;
  }

  li:not(:last-of-type){
    margin-bottom: 40px;
  }

  a {
    color: #fff;
  }
}

/*
====================
Stats main frame styling
====================
*/

.stats {
  margin-left: 50px;
}
