<li>
  <a href="/">Notes</a>
</li>
<li>
  <a href="/read">To Read</a>
</li>
<li>
  <a href="/quotes">Quotes</a>
</li>
<li class="add-read">
  <a class="nav-button new-book-button" href="{{href}}">{{action}}</a>
</li>
