<li>
  <a class="transparent-button notes-button" href="/">Notes</a>
</li><!--
--><li>
  <a class="transparent-button to-read-button" href="/read">To Read</a>
  </li><!--
  --><li class="add-read">
    <a class="nav-button new-book-button" href="{{href}}">{{action}}</a>
  </li>
