<li>
  <a class="transparent-button notes-button" href="/">Reading Notes</a>
</li><!--
--><li>
  <a class="transparent-button to-read-button" href="/read">To Read</a>
  </li><!--
  --><li class="add-read">
  <a class="transparent-button new-book-button" href="/new">Add notes</a>
  </li>
