<h1>Your Reading List Expands...</h1>
<form action="/books" method="post">
  <fieldset id="main-form">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" placeholder="Some Awesome Book">
    <label for="author">Author</label>
    <input type="text" name="author" id="author" placeholder="By Some Amazing Author">
    <label for="isbn">ISBN</label>
    <input type="number" name="isbn" id="isbn" placeholder="Identified by ISBN">
    <label for="description">Description</label>
    <textarea name="description" id="description" placeholder="A Few Words About It"></textarea>
  </fieldset>
  <fieldset id="action-form">
    <input class="new-submit" type="submit" value="Submit">
    <input class="new-reset" type="button" value="Reset">
  </fieldset>
</form>
