<div class="quote-container">
  <h5><span class="italic">"{{quote}}"</span></h5>
  <p class="quote-author">- {{author}}</p>
</div>
<div class="quote-actions">
  <input type="button" value="Edit" class="edit-quote">
  <input type="button" value="Delete" class="delete-quote">
</div>
