<li>
  <a class="transparent-button notes-button" href="/">Reading Notes</a>
</li><!--
--><li class="add-read">Add something to your <span>ToRead</span> list
  <a class="transparent-button new-book-button" href="/new_toread">Good idea!</a>
  </li>
