<h1>{{currentYearString}} Reading Statistics</h1>
<ul>
  <li><span>Books read: </span>{{booksReadAnnually booksThisYear}} so far.</li>
  <li><span>Books this year vs books previous year: </span>{{compareYears booksThisYear booksPrevYear}}</li>
  <li><span>{{cheerUp booksThisYear booksPrevYear}}</span></li>
</ul>
